<p>We created this app for learning perspective and to showcase our knowledge and skills. We wanted to offer service in Angular based reactive application development. We keep it simple, so users can focus on creating an amazing website that reflects their brand. Best of all - leave all the complexity with us and enjoy awesome experience. You can get online, showcase your brand, or start selling products right away.</p>

<p>After seeing an increased need for ecommerce solutions, we developed fully-featured, online store builders, allowing business owners to launch their online business. We created API for such applications to use in website and app.</p>

<p>Today, we're proud to empower individuals and small business owners around the world. Everyone deserves a website or app, and we're excited to see what you create.</p>

<p>
  This is all about us! <a href="" (click)="sendMeHome()"><strong>Retun to Home</strong></a>
</p>

<p>
  Your Goals:
</p>
<ol>
	<li *ngFor="let goal of goals">{{ goal }}</li>
</ol>