.mat-form-field {
	display:block;
}
.login-form{
	width:75%;
	margin:0 auto;
}
.red-text{
	color:#f44336;
}
.green-text{
	color:rgb(65, 160, 32);
	padding: 1em 0;
}
.material-icons{
	vertical-align:middle;
}