<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>Goals App</span>
    <span class="example-spacer"></span>
    <a routerLink='' mat-button>Home</a>
    <a routerLink='about/1' mat-button>About</a>
    <a routerLink='members' mat-button>Members</a>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

<div class="container color-dark">
	<div class="col">
		<p class="copyright-txt">Goals App &copy; Copyright {{date| date:'yyyy'}}</p>
	</div>
</div>