<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <mat-toolbar color="primary">  
    <mat-toolbar-row>
      <a routerLink='' mat-button><mat-icon aria-hidden="true">local_florist</mat-icon><span> Goals App</span></a>
      <span class="example-spacer"></span>
      <a routerLink='' mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink='about/1' mat-button routerLinkActive="active">About</a>
      <a routerLink='members' mat-button routerLinkActive="active">Members</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div id="footer" class="color-dark">
	<div class="col">
		<a mat-button>Goals App <mat-icon>copyright</mat-icon> {{date| date:'yyyy'}}</a>
	</div>
</div>