<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar">
  <mat-toolbar color="primary">  
    <mat-toolbar-row>
      <a routerLink='' mat-button><mat-icon aria-hidden="true">local_florist</mat-icon><span class="logo"> Goals App</span></a>
      <span class="example-spacer"></span>
      <a routerLink='' mat-button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a routerLink='about/1' mat-button routerLinkActive="active">About</a>
      <a routerLink='members' mat-button routerLinkActive="active">Members</a>
      <a routerLink='contact-us' mat-button routerLinkActive="active">Contact Us</a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<div class="footer-container">
    <div class="col">
      <mat-card class="footer-item">
        <i class="material-icons">
        gamepad
        </i>
        <h3>Just like playing</h3>
        <p>Description</p>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="footer-item">
        <i class="material-icons">
        laptop_mac
        </i>
        <h3>Make online presence</h3>
        <p>Description</p>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="footer-item">
        <i class="material-icons">
        assistant
        </i>
        <h3>Share an Idea</h3>
        <p>Description</p>
      </mat-card>
    </div>
    <div class="col">
      <mat-card class="footer-item">
        <i class="material-icons">
        headset_mic
        </i>
        <h3>Contact</h3>
        <p>Address</p>
      </mat-card>
    </div>
</div>
<div id="footer" class="color-dark">
	<div class="col">
		<a mat-button>Goals App <mat-icon>copyright</mat-icon> {{date| date:'yyyy'}}</a>
	</div>
</div>