.example-icon{
	padding :0 15px;
}

.example-spacer{
	flex:1 1 auto;
}

.logo{
	font-size:25px;
}
.footer-container{
	display:grid;
    grid-template-columns : 25% 25% 25% 25%;
    margin:1em 1em 0 1em;
}
.footer-item{
	text-align:center;
}

.footer-item i{
	border-radius:100%;
	padding:12px;
	font-size:40px;
	color:#fff;
	cursor:pointer;
	background:#2885c4;
}