/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

body{
    /*background:#0073aa;
	background:#2E9CE6;
	color:#fff;*/
	font-family : 'Raleway','Arial';
    padding:0;
    margin:0;
}

.color-dark{
    background:#2885C4;
    margin-top:1em;

}
.color-light{
    background:#57B3F1;
    box-shadow: 0px 0px 20px #000;
}
.color-light .col{
    padding: 1.2em; 
}
.navbar a.active{
    color: #27da7b;
}

/* Footer CSS*/
#footer{
    background:#3f51b5;
    /*position:fixed;*/
    bottom:0;
    width:100%;
}