<div id="homeSlider" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#homeSlider" *ngFor="let hslide of sliderData; index as i; first as isFirst;" [class.active]="i == 0" [attr.data-slide-to]="i"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let hslide of sliderData; index as i; first as isFirst;" [class.active]="i == 0">
      <img src="{{hslide.image}}" alt="Los Angeles">
      <div class="container-fluid">
        <div class="carousel-caption text-left">
          <h2>{{hslide.captionTitle}}</h2>
          <p>{{hslide.captionText}}</p>
          <p><a class="btn btn-lg btn-primary" routerLink="{{hslide.captionButtonLink}}" role="button">{{hslide.captionButtonText}}</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#homeSlider" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#homeSlider" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
<div class="container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-9" style="padding-top: 10px;">	
				<h3>Add a goal list item</h3>
				<div [@goals]="goals.length">
					<form>
          <div class="input-group" style="margin-bottom: 25px">
						<input type="text" class="form-control" name="item" value="" placeholder="My Goals.." [(ngModel)]="goalText"/>
          </div>
          <div class="form-group" style="margin-top: 10px">
						<input type="submit" class="btn btn-primary" [value]="btnText" (click)="addItem()"/>
          </div>
					</form>
					<p><b>Our goal list ( {{ itemCount }} ) </b></p>
					<p class="life-container" *ngFor="let goal of goals; let i=index" (click)="removeItem(i)">{{ goal }}</p>
				</div>
			</div>
			<div class="col-md-3">
				<app-login></app-login>
			</div>
		</div>
	</div>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <mat-card class="list-item">
          <i class="material-icons">
          gamepad
          </i>
          <h3>Just like playing</h3>
          <p>Description</p>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="list-item">
          <i class="material-icons">
          laptop_mac
          </i>
          <h3>Go Live</h3>
          <p>Description</p>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="list-item">
          <i class="material-icons">
          assistant
          </i>
          <h3>Share Ideas</h3>
          <p>Description</p>
        </mat-card>
      </div>
      <div class="col-md-3">
        <mat-card class="list-item">
          <i class="material-icons">
          headset_mic
          </i>
          <h3>Get Connected</h3>
          <p>Description</p>
        </mat-card>
      </div>
    </div>
  </div>
</div>